body {
  margin-top: 80px; }

.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  background: #fff;
  opacity: 0.8; }
  .navbar .nav-item {
    font-size: 1.4rem;
    margin-right: 20px; }
    .navbar .nav-item .nav-link {
      color: #252525; }
    .navbar .nav-item .nav-link:hover {
      color: #710094; }
    .navbar .nav-item .active {
      color: #3292a6 !important; }
  .navbar .nav-item:last-child {
    margin-right: 0; }

#shocase {
  background-image: url("../img/mountains.jpg");
  position: relative;
  min-height: 600px; }
  #shocase .primary-overlay {
    background-color: rgba(50, 146, 156, 0.7);
    position: absolute;
    min-height: 600px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }

@media (max-width: 576px) {
  #shocase h1 {
    font-size: 4rem; } }
