$primary : #3292a6;

.navbar{
    box-shadow: 2px 2px 5px $primary;
    background: #fff;
    opacity: 0.8;
    
    .nav-item{
        font-size: 1.4rem;
        margin-right: 20px;
        .nav-link{
            color: #252525;
        }
        .nav-link:hover{
            color: rgb(113, 0, 148)
        }
        .active{
            color: $primary !important;
        }
    }
    .nav-item:last-child {
        margin-right: 0;
    }
}